.mat-form-field + .mat-form-field {
        margin-left: 8px;
      }
      
    mat-panel-description {
        text-align: left;
        width: 400px;
    }
    
    mat-panel-title {
        width: 400px;
    }